button {
    animation: buttonsAnimation 3s linear infinite;
}



@keyframes buttonsAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}